*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
header{
    height: 100vh;
    width: 100vw;
    background-image:url(images/background-moon.jpg);
    background-size: cover;
}

.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.navbar .a{
    color: white;
}

.navbar .logo{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}
.navbar .nav-links  ul{
    display: flex;
    color: white;
    list-style: none;
    font-size: 1em;
}
.navbar, .nav-links , ul , li{
    margin: 0 25px;

}
.navbar , .nav-links , ul ,li.active{
    color: red;
    font-weight: 600;

}
.navbar .menu-hamburger{
    position: absolute;
    top:50px;
    width: 50px;
    right: 50px;
    display:none
    
}

@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 50px;
        left:50px;

    }
  
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links {
        top:0;
        left:0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.256);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        margin-left: -100%;
        transition:all 1s ease;
    }
     .nav-links.mobile-menu{
        margin-left: 0 ;
        
    }
 
    .nav-links ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .nav-links ul li{
        margin:25px 0;
        font-size: 1.2em;

    }
}
   





    

    



